[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=FLTV
X-Python-2-Compatible=false
Name=FLTV
Comment=First layer toggle visibility